#top{
  width: 800px;
  background-color:  #dcc9f4;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.top-child{
  background-color: #ffd9df;
  width: 20%;
  display: inline-block;
  text-align: center;
}

#middle{
  width: 800px;
  height: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffd9df;
}

#middle-child01{
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  margin-left: 100px;
  margin-top: 100px;
}

#middle-child02{
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  margin-left: 300px;
  margin-top: 300px;
}
 

#middle-child03{
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
  position: absolute;
  margin-left: 500px;
  margin-top: 500px;
}

#bottom{
  width: 800px;
  height: 300px;
  margin: auto;
  background-color: #87ceeb;
}

#bottom-child01{
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}

#bottom-child02{
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: relative;
  left: 200px;
}

#bottom-child03{
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
  position: relative;
  left: 400px;
}